@font-face {
    font-family: 'Freehand591 BT';
    src: url('Freehand591-BT.woff2') format('woff2'),
        url('Freehand591-BT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century';
    src: url('Century.woff2') format('woff2'),
        url('Century.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

